<aside class="column-2">
    <nav aria-label="Table of contents">
        <h2>Table of Contents</h2>
        <ul>
            <li><a href="#WHO">WHO</a></li>
            <li><a href="#WHAT">WHAT</a></li>
            <li><a href="#WHY">WHY</a></li>
            <li><a href="#WHEN">WHEN</a></li>
            <li><a href="#WHERE">WHERE</a></li>
            <li><a href="#HOW">HOW</a></li>
            <li><a href="#EX">EXAMPLES AND CONTRIBUTIONS</a></li>
            <li><a href="#IMP">IMPORTANCE</a></li>
        </ul>
    </nav>
</aside>