<!-- LinkPage.ejs -->

<%- include('partials/RegHead') %>
<%- include('partials/navbar') %>
    <body class="container">
        <main>
            <article class="column-1">
                <h1>IS117-007 Project Index</h1>
                <h2>History</h2>
                <h3>Pre Internet (1950s-1960s)</h3>
                <ul>
                    <li><a href="<%= url('JC') %>">JC Licklider</a></li>
                </ul>
            </article>
        </main>
    </body>
</html>