/* homepage.css */
:root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    --link-color: #007acc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #3e513b;
    background-image: url('../images/NavBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(62,81,59,.80);
    color: white;
    max-width: 100%;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* HERO SECTION */
.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    background-image: url('../images/SageHomepage.png');
    box-shadow: inset 0 0 0 1000px rgba(186, 212, 186, 0.75);
    color: #616d81;
    -webkit-text-stroke-color: #333;
    padding: 15px 15px;
    max-width: 100%;
    box-sizing: border-box;
}

.hero-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-row h2, p {
    max-width: 1000px;
    margin-left: 20px;
}

.hero-row h2 {
    font-size: 5em;
    line-height: 100px;
    -webkit-text-stroke-width: 0.1px;
    font-weight: bolder;
}

.hero-row p {
    font-size: 1.7em;
    -webkit-text-stroke-width: 1px;
}

.access {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    transform: translateY(-200px);
    max-width: 100%;
}

.access a:hover {
    background-color: var(--link-color);
}

.acc-btn {
    background-color: #b3a862;
    font-size: 40px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

/* OVERVIEW SECTION */
.topics, .Impact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    background-image: linear-gradient(to bottom right, #d1ddea, #b0ceb0);
    color: #b3a862;
    max-width: 100%;
    box-sizing: border-box;
}

.topics h1 {
    text-align: center;
    margin-top: 0;
    letter-spacing: 0.5cm;
    font-weight: 100;
}

.topics-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.topic {
    text-align: center;
    max-width: 200px;
    box-sizing: border-box;
}

/* TOPIC CARDS */
.topic-card {
    background-color: #ededd9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.topic-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.topic-icon {
    color: #b3a862;
    margin-bottom: 15px;
}

.topic-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    background-image: linear-gradient(to bottom right, #d1ddea, #b0ceb0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.topic-content p {
    font-size: 1em;
    color: #666;
}

.topic-btn {
    margin-top: 15px;
    text-decoration: none;
    background-color: #b3a862;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

.topic-btn:hover {
    background-color: #007acc;
}

/* CALL TO ACTION SECTION */
.RS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-color: #3e513b;
    background-image: url('../images/NavBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(62,81,59,.80);
    color: white;
    overflow-x: hidden;
}

.RS a {
    text-decoration: none;
    font-size: 20px;
}

.RS h4 {
    font-size: 30px;
}

.cta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px; 

}

.cta-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    max-width: 500px;
}

.cta-box h4 {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
    color: white;
    white-space: wrap;
}

.cta a:hover {
    background-color: var(--link-color);
}

.download-btn {
    background-color: #b3a862;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.download-btn:hover {
    background-color: var(--link-color);
}

/* WHY WE STARTED SECTION */
.WWS, .tutor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 100px;
    text-align: center;
    background-image: linear-gradient(to top, #b0ceb0, #b0ceb0,  #3e513b);
}

.WWS-img img {
    width: 500px;
    height: auto;
    border-radius: 30px;
    padding: 10px;
}

.WWS-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.WWS-txt h1 {
    color: #616d81;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 0.01px;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bolder;
    max-width: 600px;
}

.WWS-txt p {
    margin-bottom: 10px;
    color: #616d81;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 0.7px;
    line-height: 1.5;
    font-weight: 100;
    font-size: 17px;
    max-width: 800px;
}

/* IMPACT SECTION */
.Impact h1, h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.Impact h1 {
    font-size: 70px;
    font-weight: bolder;
    letter-spacing: 2cm;
}

.Impact h3 {
    font-size: 30px;
    font-weight: 300;
}

.Imp-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.Imp {
    background-color: #ededd9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    margin: 10px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.Imp:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Imp p {
    font-size: 15px;
    font-weight: 100;
}

.tutor-img img {
    width: 700px;
    height: auto;
    border-radius: 30px;
    margin: 10px;
}

.tutor-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tutor-txt h1 {
    color: #616d81;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 0.01px;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bolder;
    max-width: 600px;
}

.tutor-txt p {
    margin-bottom: 10px;
    color: #616d81;
    -webkit-text-stroke-color: #333;
    -webkit-text-stroke-width: 0.7px;
    line-height: 1.5;
    font-weight: 100;
    font-size: 17px;
    max-width: 800px;
}

/* RESPONSIVE SECTION */
@media only screen and (max-width: 1200px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .hero-row {
        padding: 10px 10px;
    }

    .hero-row h2 {
        font-size: 2em;
        line-height: 45px;
    }

    .hero p {
        font-size: 1em;
    }

    .access {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        transform: translateY(0);
    }

    .acc-btn {
        font-size: 30px;
        padding: 8px 16px;
    }

    .WWS {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .WWS-img img {
        width: 100%;
        max-width: 300px;
    }

    .WWS-txt {
        max-width: 90%;
        text-align: center;
    }

    .tutor {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .tutor-img img {
        width: 100%;
        max-width: 300px;
    }

    .tutor-txt {
        max-width: 90%;
        text-align: center;
    }

    .Impact h1 {
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 0.5cm;
    }

    .acc-btn {
        font-size: 30px;
        padding: 8px 16px;
    }

    .cta {
        flex-direction: column;
        align-items: center;
    }

    .cta-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .cta-box h4 {
        font-size: 1.2em;
    }

    .download-btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}

@media only screen and (max-width: 768px) {
    .hero-row h2 {
        font-size: 1.8em;
        line-height: 40px;
    }

    .hero-row p {
        font-size: 0.9em;
    }

    .access {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
        transform: translateY(0);
    }

    .acc-btn {
        font-size: 30px;
        padding: 8px 16px;
    }

    .cta {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .cta-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .cta-box h4 {
        font-size: 1.2em;
    }

    .download-btn {
        font-size: 0.9em;
        padding: 8px 16px;
    }
}