:root {
  --base-font-size: 18px;
  --line-height: 1.6;
  --max-width: 1200px;
  --heading-margin: 1em;
  --container-padding: 20px;
  --link-color: #007acc;
  --golden-ratio: 1.618;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--base-font-size);
  font-family: 'Roboto', sans-serif;
  background-color: #b0ceb0;
  overflow-x: hidden;
  background-image: url('../images/ContentBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(217, 217, 217, 0.8);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  position: relative;
  z-index: 10;
}

.Content-title {
  background-color: #97b1b3;
  background-image: url('../images/paisley.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(217, 217, 217, 0.65);
  width: 100%;
  padding: var(--container-padding);
}

.Content-title h1, .Content-title p {
  color: #616d81;
  -webkit-text-stroke: 0.01px #333;
  text-align: center;
  margin: 0;
}

.Content-title h1 {
  font-size: 40px;
}

.Content-title p {
  font-size: 20px;
}

main {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding: var(--container-padding);
  margin-top: 20px;
}

.column-1, .column-2 {
  padding: var(--container-padding);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.column-1, .column-2 h2 {
  color: #b3a862;
  text-align: left;
}

.column-1 {
  flex: 2 1 auto;
  background-color: #d1ddea;
  overflow-x: hidden;
}

.column-1 li {
  color: #616d81;
}

.column-2 {
  flex: 0 1 auto;
  background-color: #ededd9;
}

.btn-container {
  text-align: center;
}

.btn-container a:hover, .download-btn:hover {
  background-color: var(--link-color);
}

.download-btn {
  background-color: #b3a862;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  margin: 15px 0;
}

.photos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.Content-pic {
  background-color: #e4e4da;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 20px 0;
}

.Content-pic:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Content-pic p {
  color: #616d81;
  -webkit-text-stroke: 0.01px #333;
  text-align: center;
  max-width: 400px;
  margin: 0;
}

.Content-img img {
  border-radius: 30px;
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f4;
}

code {
  background-color: #e8e8e8;
  padding: 2px 4px;
  border-radius: 4px;
}

.category-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  /*color: #3e513b;*/
}

.topics-row {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.topic {
  text-align: center;
  max-width: 200px;
  box-sizing: border-box;
}

.topic-card {
  background-color: #ededd9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.topic-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.topic-icon {
  color: #b3a862;
  margin-bottom: 15px;
}

.topic-content h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffffff;
  background-image: linear-gradient(to bottom right, #d1ddea, #b0ceb0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.topic-content p {
  font-size: 1em;
  color: #666;
}

.topic-btn {
  margin-top: 15px;
  text-decoration: none;
  background-color: #b3a862;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.topic-btn:hover {
  background-color: #007acc;
}

@media only screen and (max-width: 1200px) {
  main {
    flex-direction: column-reverse;
    align-items: stretch;
    padding: 10px;
  }

  .column-1, .column-2 {
    width: 100%;
    margin-bottom: 20px;
  }

  .Content-title h1 {
    font-size: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .Content-title h1 {
    font-size: 28px;
  }

  .column-1, .column-2 {
    padding: 10px;
    margin-bottom: 15px;
  }

  .Content-img img {
    border-radius: 8px;
    max-width: 75%;
    height: auto;
  }

  .download-btn {
    font-size: 20px;
    padding: 8px 16px;
  }
  
  .category-title {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.topics-row {
    gap: 15px;
}

  .topic-card {
    flex: 1 1 calc(50% - 20px); /* Two cards per row */
  }
}